In [1]:
import os
os.chdir('..')

In [2]:
import pandas as pd

In [3]:
forecast_lightgbm_dic_df = pd.read_csv('./resultados/forecast_lightgbm_dic.csv')
forecast_autogluon_dic_df = pd.read_csv('./resultados/forecast_autogluon_dic.csv')
forecast_autogluon = pd.read_csv('./resultados/autogluon_basico_avanzado.csv')
promedios_mensuales = pd.read_csv('./resultados/promedios_mensuales_productos.csv')
DTW_RL_Exp30_Dic = pd.read_csv('./resultados/DTW_RL_Exp30_Dic.csv')
forecast_regresion_dic_df = pd.read_csv('./resultados/prediccion_regresion2años_exp4_dic.csv')

forecast_lightgbm_feb_df = pd.read_csv('./resultados/forecast_lightgbm_feb.csv')
forecast_autogluon_feb_df = pd.read_csv('./resultados/forecast_autogluon_feb.csv')
forecast_regresion_feb_df = pd.read_csv('./resultados/prediccion_regresion2años_exp4.csv')

# Diciembre

In [4]:
forecast_autogluon_dic_df['tn_autogluon'] = forecast_autogluon['Diciembre Autigluon 1']

In [5]:
forecast_autogluon_feb_df['tn_autogluon'] = forecast_autogluon['Febrero Autigluon 1']

In [6]:
forecast_dic_df = pd.merge(forecast_lightgbm_dic_df, forecast_autogluon_dic_df, on='product_id', how='inner')
forecast_dic_df.drop(columns=['tn'], inplace=True)
forecast_dic_df

,product_id,target,target_predicted,diff,periodo,tn_autogluon
0,20001,1504.68860,1566.153466,-61.464867,2019-12-01,1489.930122
1,20002,1087.30860,1276.564338,-189.255744,2019-12-01,1200.855910
2,20003,891.25640,876.396524,14.859884,2019-12-01,863.335295
3,20004,637.84827,716.930310,-79.082044,2019-12-01,669.231060
4,20005,592.53570,644.777111,-52.241406,2019-12-01,611.214098
...,...,...,...,...,...,...
775,21263,0.01270,0.035097,-0.022397,2019-12-01,0.017819
776,21265,0.05007,0.071955,-0.021885,2019-12-01,0.073128
777,21266,0.05121,0.074884,-0.023674,2019-12-01,0.081328
778,21267,0.01569,0.071849,-0.056159,2019-12-01,0.100863
779,21276,0.00892,0.038143,-0.029223,2019-12-01,0.035434

In [7]:
forecast_dic_df = pd.merge(forecast_dic_df, DTW_RL_Exp30_Dic, on='product_id', how='inner')
forecast_dic_df.rename(columns={'tn': 'DTW_RL_Exp30'}, inplace=True)
forecast_dic_df

,product_id,target,target_predicted,diff,periodo,tn_autogluon,DTW_RL_Exp30
0,20001,1504.68860,1566.153466,-61.464867,2019-12-01,1489.930122,1501.298236
1,20002,1087.30860,1276.564338,-189.255744,2019-12-01,1200.855910,1225.779671
2,20003,891.25640,876.396524,14.859884,2019-12-01,863.335295,782.400889
3,20004,637.84827,716.930310,-79.082044,2019-12-01,669.231060,623.053636
4,20005,592.53570,644.777111,-52.241406,2019-12-01,611.214098,637.547442
...,...,...,...,...,...,...,...
775,21263,0.01270,0.035097,-0.022397,2019-12-01,0.017819,0.016755
776,21265,0.05007,0.071955,-0.021885,2019-12-01,0.073128,0.098599
777,21266,0.05121,0.074884,-0.023674,2019-12-01,0.081328,0.104862
778,21267,0.01569,0.071849,-0.056159,2019-12-01,0.100863,0.111445
779,21276,0.00892,0.038143,-0.029223,2019-12-01,0.035434,0.052428

In [8]:
forecast_dic_df = pd.merge(forecast_dic_df, promedios_mensuales, on='product_id', how='inner')
forecast_dic_df.drop(columns=['Dato real diciembre'], inplace=True)
forecast_dic_df

,product_id,target,target_predicted,diff,periodo,tn_autogluon,DTW_RL_Exp30,promedio_201811_201910,promedio_201901_201912
0,20001,1504.68860,1566.153466,-61.464867,2019-12-01,1489.930122,1501.298236,1487.869464,1454.732720
1,20002,1087.30860,1276.564338,-189.255744,2019-12-01,1200.855910,1225.779671,1197.552085,1175.437142
2,20003,891.25640,876.396524,14.859884,2019-12-01,863.335295,782.400889,796.305674,784.976408
3,20004,637.84827,716.930310,-79.082044,2019-12-01,669.231060,623.053636,629.387777,627.215328
4,20005,592.53570,644.777111,-52.241406,2019-12-01,611.214098,637.547442,638.415234,668.270104
...,...,...,...,...,...,...,...,...,...
775,21263,0.01270,0.035097,-0.022397,2019-12-01,0.017819,0.016755,0.063882,0.029993
776,21265,0.05007,0.071955,-0.021885,2019-12-01,0.073128,0.098599,0.097418,0.089541
777,21266,0.05121,0.074884,-0.023674,2019-12-01,0.081328,0.104862,0.103531,0.094659
778,21267,0.01569,0.071849,-0.056159,2019-12-01,0.100863,0.111445,0.109018,0.092835
779,21276,0.00892,0.038143,-0.029223,2019-12-01,0.035434,0.052428,0.051518,0.045447

In [9]:
forecast_dic_df.rename(columns={'target_predicted': 'lightgbm'}, inplace=True)
forecast_dic_df.drop(columns=['diff', 'periodo'], inplace=True)
forecast_dic_df

,product_id,target,lightgbm,tn_autogluon,DTW_RL_Exp30,promedio_201811_201910,promedio_201901_201912
0,20001,1504.68860,1566.153466,1489.930122,1501.298236,1487.869464,1454.732720
1,20002,1087.30860,1276.564338,1200.855910,1225.779671,1197.552085,1175.437142
2,20003,891.25640,876.396524,863.335295,782.400889,796.305674,784.976408
3,20004,637.84827,716.930310,669.231060,623.053636,629.387777,627.215328
4,20005,592.53570,644.777111,611.214098,637.547442,638.415234,668.270104
...,...,...,...,...,...,...,...
775,21263,0.01270,0.035097,0.017819,0.016755,0.063882,0.029993
776,21265,0.05007,0.071955,0.073128,0.098599,0.097418,0.089541
777,21266,0.05121,0.074884,0.081328,0.104862,0.103531,0.094659
778,21267,0.01569,0.071849,0.100863,0.111445,0.109018,0.092835
779,21276,0.00892,0.038143,0.035434,0.052428,0.051518,0.045447

In [10]:
forecast_regresion_dic_df

     product_id           tn
0         20001  1328.054775
1         20002  1019.567781
2         20003   657.424709
3         20004   524.018393
4         20005   517.121912
..          ...          ...
775       21263    -0.047594
776       21265     0.093927
777       21266     0.099487
778       21267     0.101407
779       21276     0.049506

[780 rows x 2 columns]

In [11]:
forecast_dic_df = pd.merge(forecast_dic_df, forecast_regresion_dic_df, on='product_id', how='inner')
forecast_dic_df.rename(columns={'tn': 'regresion'}, inplace=True)
forecast_dic_df

,product_id,target,lightgbm,tn_autogluon,DTW_RL_Exp30,promedio_201811_201910,promedio_201901_201912,regresion
0,20001,1504.68860,1566.153466,1489.930122,1501.298236,1487.869464,1454.732720,1328.054775
1,20002,1087.30860,1276.564338,1200.855910,1225.779671,1197.552085,1175.437142,1019.567781
2,20003,891.25640,876.396524,863.335295,782.400889,796.305674,784.976408,657.424709
3,20004,637.84827,716.930310,669.231060,623.053636,629.387777,627.215328,524.018393
4,20005,592.53570,644.777111,611.214098,637.547442,638.415234,668.270104,517.121912
...,...,...,...,...,...,...,...,...
775,21263,0.01270,0.035097,0.017819,0.016755,0.063882,0.029993,-0.047594
776,21265,0.05007,0.071955,0.073128,0.098599,0.097418,0.089541,0.093927
777,21266,0.05121,0.074884,0.081328,0.104862,0.103531,0.094659,0.099487
778,21267,0.01569,0.071849,0.100863,0.111445,0.109018,0.092835,0.101407
779,21276,0.00892,0.038143,0.035434,0.052428,0.051518,0.045447,0.049506

In [12]:
forecast_dic_df['diff_lightgbm'] = abs(forecast_dic_df['lightgbm'] - forecast_dic_df['target'])
forecast_dic_df['diff_autogluon'] = abs(forecast_dic_df['tn_autogluon'] - forecast_dic_df['target'])
forecast_dic_df['diff_DTW_RL_Exp30'] = abs(forecast_dic_df['DTW_RL_Exp30'] - forecast_dic_df['target'])
forecast_dic_df['diff_promedio_201811_201910'] = abs(forecast_dic_df['promedio_201811_201910'] - forecast_dic_df['target'])
forecast_dic_df['diff_regresion'] = abs(forecast_dic_df['regresion'] - forecast_dic_df['target'])
forecast_dic_df

,product_id,target,lightgbm,tn_autogluon,DTW_RL_Exp30,promedio_201811_201910,promedio_201901_201912,regresion,diff_lightgbm,diff_autogluon,diff_DTW_RL_Exp30,diff_promedio_201811_201910,diff_regresion
0,20001,1504.68860,1566.153466,1489.930122,1501.298236,1487.869464,1454.732720,1328.054775,61.464866,14.758478,3.390364,16.819136,176.633825
1,20002,1087.30860,1276.564338,1200.855910,1225.779671,1197.552085,1175.437142,1019.567781,189.255738,113.547310,138.471071,110.243485,67.740819
2,20003,891.25640,876.396524,863.335295,782.400889,796.305674,784.976408,657.424709,14.859876,27.921105,108.855511,94.950726,233.831691
3,20004,637.84827,716.930310,669.231060,623.053636,629.387777,627.215328,524.018393,79.082040,31.382790,14.794634,8.460493,113.829877
4,20005,592.53570,644.777111,611.214098,637.547442,638.415234,668.270104,517.121912,52.241411,18.678398,45.011742,45.879534,75.413788
...,...,...,...,...,...,...,...,...,...,...,...,...,...
775,21263,0.01270,0.035097,0.017819,0.016755,0.063882,0.029993,-0.047594,0.022397,0.005119,0.004055,0.051182,0.060294
776,21265,0.05007,0.071955,0.073128,0.098599,0.097418,0.089541,0.093927,0.021885,0.023058,0.048529,0.047348,0.043857
777,21266,0.05121,0.074884,0.081328,0.104862,0.103531,0.094659,0.099487,0.023674,0.030118,0.053652,0.052321,0.048277
778,21267,0.01569,0.071849,0.100863,0.111445,0.109018,0.092835,0.101407,0.056159,0.085173,0.095755,0.093327,0.085717
779,21276,0.00892,0.038143,0.035434,0.052428,0.051518,0.045447,0.049506,0.029223,0.026514,0.043508,0.042597,0.040586

In [13]:
# Crear lista de tuplas con (modelo, diferencia) para cada fila
forecast_dic_df['mejor_prediccion'] = forecast_dic_df.apply(lambda x: min([
    #('LIGHTGBM', x['diff_lightgbm']),
    ('AUTOGLUON', x['diff_autogluon']),
    #('DTW_RL_Exp30', x['diff_DTW_RL_Exp30']),
    ('PROMEDIO_201811_201910', x['diff_promedio_201811_201910']),
    ('REGRESION', x['diff_regresion']),
], key=lambda t: t[1]), axis=1)


forecast_dic_df['mejor_modelo'] = forecast_dic_df['mejor_prediccion'].str[0]
forecast_dic_df['mejor_valor'] = forecast_dic_df['mejor_prediccion'].str[1]

forecast_dic_df.drop(columns=['diff_lightgbm', 'diff_autogluon', 'diff_DTW_RL_Exp30', 'diff_promedio_201811_201910', 'diff_regresion', 'mejor_prediccion'], inplace=True)

forecast_dic_df

,product_id,target,lightgbm,tn_autogluon,DTW_RL_Exp30,promedio_201811_201910,promedio_201901_201912,regresion,mejor_modelo,mejor_valor
0,20001,1504.68860,1566.153466,1489.930122,1501.298236,1487.869464,1454.732720,1328.054775,AUTOGLUON,14.758478
1,20002,1087.30860,1276.564338,1200.855910,1225.779671,1197.552085,1175.437142,1019.567781,REGRESION,67.740819
2,20003,891.25640,876.396524,863.335295,782.400889,796.305674,784.976408,657.424709,AUTOGLUON,27.921105
3,20004,637.84827,716.930310,669.231060,623.053636,629.387777,627.215328,524.018393,PROMEDIO_201811_201910,8.460493
4,20005,592.53570,644.777111,611.214098,637.547442,638.415234,668.270104,517.121912,AUTOGLUON,18.678398
...,...,...,...,...,...,...,...,...,...,...
775,21263,0.01270,0.035097,0.017819,0.016755,0.063882,0.029993,-0.047594,AUTOGLUON,0.005119
776,21265,0.05007,0.071955,0.073128,0.098599,0.097418,0.089541,0.093927,AUTOGLUON,0.023058
777,21266,0.05121,0.074884,0.081328,0.104862,0.103531,0.094659,0.099487,AUTOGLUON,0.030118
778,21267,0.01569,0.071849,0.100863,0.111445,0.109018,0.092835,0.101407,AUTOGLUON,0.085173
779,21276,0.00892,0.038143,0.035434,0.052428,0.051518,0.045447,0.049506,AUTOGLUON,0.026514

In [14]:
lightgbm_product_ids = forecast_dic_df[forecast_dic_df['mejor_modelo'] == 'LIGHTGBM']['product_id'].unique()
autogluon_product_ids = forecast_dic_df[forecast_dic_df['mejor_modelo'] == 'AUTOGLUON']['product_id'].unique()
promedio_201811_201910_product_ids = forecast_dic_df[forecast_dic_df['mejor_modelo'] == 'PROMEDIO_201811_201910']['product_id'].unique()
DTW_RL_Exp30_product_ids = forecast_dic_df[forecast_dic_df['mejor_modelo'] == 'DTW_RL_Exp30']['product_id'].unique()
regresion_product_ids = forecast_dic_df[forecast_dic_df['mejor_modelo'] == 'REGRESION']['product_id'].unique()

In [15]:
len(lightgbm_product_ids)

0

In [16]:
len(autogluon_product_ids)

263

In [17]:
len(promedio_201811_201910_product_ids)

183

In [18]:
len(DTW_RL_Exp30_product_ids)

0

In [19]:
len(regresion_product_ids)

334

# Febrero

In [20]:
forecast_lightgbm_feb_df = forecast_lightgbm_feb_df[forecast_lightgbm_feb_df['product_id'].isin(lightgbm_product_ids)]
forecast_lightgbm_feb_df = forecast_lightgbm_feb_df.groupby('product_id').agg({'target_predicted': 'sum'}).reset_index()
forecast_lightgbm_feb_df.rename(columns={'target_predicted': 'tn'}, inplace=True)
forecast_lightgbm_feb_df

Empty DataFrame
Columns: [product_id, tn]
Index: []

In [21]:
forecast_autogluon_feb_df = forecast_autogluon_feb_df[forecast_autogluon_feb_df['product_id'].isin(autogluon_product_ids)]
forecast_autogluon_feb_df = forecast_autogluon_feb_df.groupby('product_id').agg({'tn_autogluon': 'sum'}).reset_index()
forecast_autogluon_feb_df.rename(columns={'tn_autogluon': 'tn'}, inplace=True)
forecast_autogluon_feb_df

     product_id           tn
0         20001  1323.175867
1         20003   647.425874
2         20005   542.058577
3         20006   473.996874
4         20007   408.747123
..          ...          ...
258       21263     0.041248
259       21265     0.061410
260       21266     0.065253
261       21267     0.065869
262       21276     0.031725

[263 rows x 2 columns]

In [22]:
promedio_201811_201910_df = promedios_mensuales[promedios_mensuales['product_id'].isin(promedio_201811_201910_product_ids)]
promedio_201811_201910_df = promedio_201811_201910_df[['product_id', 'promedio_201811_201910']]
promedio_201811_201910_df.rename(columns={'promedio_201811_201910': 'tn'}, inplace=True)
promedio_201811_201910_df

     product_id          tn
3         20004  629.387777
9         20010  418.694698
10        20011  371.277270
15        20016  285.731355
19        20020  262.669668
..          ...         ...
744       21176    0.319481
747       21182    0.101485
754       21200    0.128821
765       21227    0.365398
768       21245    0.055739

[183 rows x 2 columns]

In [23]:
DTW_RL_Exp30_Dic = DTW_RL_Exp30_Dic[DTW_RL_Exp30_Dic['product_id'].isin(DTW_RL_Exp30_product_ids)]
DTW_RL_Exp30_Dic

Empty DataFrame
Columns: [product_id, tn]
Index: []

In [24]:
forecast_regresion_feb_df = forecast_regresion_feb_df[forecast_regresion_feb_df['product_id'].isin(regresion_product_ids)]
forecast_regresion_feb_df

     product_id           tn
1         20002  1168.783617
7         20008   530.876377
11        20012   412.879948
12        20013   458.531340
13        20014   431.671087
..          ...          ...
748       21184     0.209441
752       21194     0.156443
755       21201     0.266765
757       21207     0.155411
764       21226     0.109323

[334 rows x 2 columns]

In [25]:
df = pd.concat([
    forecast_lightgbm_feb_df,
     forecast_autogluon_feb_df, 
     DTW_RL_Exp30_Dic,
     promedio_201811_201910_df,
     forecast_regresion_feb_df
    ], axis=0)
df = df.sort_values(by='product_id', ascending=True)
df

     product_id           tn
0         20001  1323.175867
1         20002  1168.783617
1         20003   647.425874
3         20004   629.387777
2         20005   542.058577
..          ...          ...
258       21263     0.041248
259       21265     0.061410
260       21266     0.065253
261       21267     0.065869
262       21276     0.031725

[780 rows x 2 columns]

In [26]:
df.to_csv('forecast_ensemble.csv', index=False)